{% extends "base2.html" %}
{% load static %}
{% block content %}
<h1>hey! I'm Tyrone<font color="red">.</font></h1>
<p>here are some of my projects, pictures and passions</p><div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{ project.image.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'full_view' project.pk %}"></a>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}